<!doctype html>
<head>
  <script type=text/javascript src="{{ url_for('static', filename='er_web.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='er_web.css') }}">
</head>
<div id="container">
  <div id="header">
    <h1>Efficient Rhythms</h1>
    {% include "welcome.jinja" %}
    <button type="button" class="a-button" 
      onclick="getElementById('wish-div').style.display = 'block'">
        TODOs and wishlist
    </button>
    <div id="wish-div" style="display: none;">
      <ul>
        <li>Add an introduction/overview etc.</li>
        <li>Improve test suite</li>
        <li>Allow non 12-tet tunings</li>
        <li>Better documentation and interface for indicating presets like "MAJOR_SCALE"</li>
        <li>Improve alignment of fields and help buttons</li>
        <li>Add validation constraints (min, max, etc.) for all fields</li>
        <li>Export settings to Python dictionary for use with shell script.</li>
        <li>Allow randomization of settings</li>
        <li>Second interface for the application of filters and transformers</li>
        <li>Fields that can be boolean or sequences have checkmark that is greyed out if textbox has content</li>
        <li>Simplify "comma" field</li>
        <li>Changed fields are shown when arriving at page from shared link</li>
      </ul>
    </div>
    <button type="button" class="a-button" 
      onclick="getElementById('issues-div').style.display = 'block'">
        Known current issues
    </button>
    <div id="issues-div" style="display: none;">
      <ul>
        <li>Help docs mention settings that only apply to the shell version of the app.</li>
        <li>Lists in help docs are not properly formatted (e.g., interval cycle)</li>
        <li>Linked-to fields in help docs are shown, but this doesn't persist through refreshes of the page.</li>
        <li>Tooltips are often out of view</li>
        <li>Settings error output is unformatted</li>
        <li>Tooltips for constants behave strangely</li>
      </ul>
    </div>
    {% if form.is_submitted() %}
      {% include "output.jinja" %}
    {% endif %}
  </div> {# end header div #}
  {% include "form.jinja" %}
  <div id="please-wait-div">
    <p>Please wait while the script executes...</p>
    <div class="loader"></div>
  </div>
</div> {# end container div #}
<script type=text/javascript>
  const DEFAULT_FIELD_VALUES = {{ default_field_values|tojson }}
  const MAX_PRIORITY_DICT = {{ max_priority_dict|tojson }}
</script>
