{% from 'tooltips.jinja' import tooltip, changed_tooltip %}
{% set priority = attr_dict[field.id]['priority'] %}
<div class="field-div{% if field.errors %} has-error{% endif %}" data-priority-level="{{ priority }}" 
id="{{ field.id }}-div" 
style="display:{{ 'none' if priority > 1 else 'block' }}">
  {% if field.type == "BooleanField" %}
    <label class="bool-label" for="{{ field.id }}">
      <span class="bool-label-span">
        {{ field.id }}
        {{ changed_tooltip(field.id)}}
      </span>
      <input {% if field.data and field.data != 'False' %}checked=""{% endif %} 
        class="er_setting" id="{{ field.id }}" name="{{ field.id }}"
        type="checkbox" value="y">
      <span class="checkmark"></span>
    </label>
  {% else %}
    <label class="other-label" for="{{ field.id }}">
      {{ field.id }}
      {{ changed_tooltip(field.id)}}
    </label>
    {{ field(class_="er_setting") }}
  {% endif %}
  <div class="help-button" id="{{ field.id }}-help-button" 
    onClick="toggleHelp('{{ field.id }}')">
    ?
    {{ tooltip( field.id, "help", "Click to show help" ) }}
  </div>
  {% if field.errors %}
  <ul class="error-list">
    {% for error in field.errors %}
    <li class="error-item">ERROR: {{ error }}</li>
    {% endfor %}
  </ul>

  {% endif %}
  <div class="help-container">
    <div class="field-help-div" id="{{ field.id }}-help-div" 
        style="display:none;">
      {{ attr_dict[field.id]["doc"] | markdown }}
    </div>
  </div>
</div>
