{% from 'tooltips.jinja' import tooltip %}
{# id ends in 'cat-div' to avoid collisions with field divs if fields and
categories have the same name (e.g., "transpose")  #}
<div class="category-div" id="{{ category }}-cat-div">

  <fieldset class="category-fieldset" id="{{ category }}-fieldset">
    <legend class="category-legend">{{ category }}</legend>
    <div class="num-hidden-div" id="{{ category }}-num-hidden">
      <div id="{{ category }}-less-button" class="small-button" 
          onClick="showLess('{{ category }}-cat-div')">
        -
        {{ tooltip( category, "less", "Click to show fewer fields" )}}
      </div>

      <span class="num-hidden-text" id="{{ category }}-num-hidden-text"></span>
      <div id="{{ category }}-more-button" class="small-button" 
          onClick="showMore('{{ category }}-cat-div')">
        +
        {{ tooltip( category, "more", "Click to show more fields" )}}
      </div>
    </div>
    {% for field in form if 
      field.id in attr_dict and 
      attr_dict[field.id]["category"] == category 
      and not attr_dict[field.id]["basic"]
    %}
      {% include "form-field.jinja" %}
    {% endfor %}
  </fieldset>
</div>
