<div class="form-wrapper">
  <form method="POST" action="">
    {{ form.csrf_token }}
    <div class="form-top">
      {{ form.submit(id="top-submit") }}
      <div id="show-shareable-link-div">
        <button type="button" class="a-button" id="show-shareable-link">
          Show shareable link to these settings
        </button>
      </div>
    </div>
    <div id="shareable-link-div">
      <p id="shareable-link" style="display:none;"></p>
    </div>
    {% for category in categories %}
      {% include "form-category.jinja" %}
    {% endfor %}
    {{ form.submit(id="bottom-submit") }}
  </form>
</div>
