{% from 'tooltips.jinja' import tooltip, changed_tooltip %}
{% set priority = attr_dict[field.id]['priority'] %}
{% macro format_label(text) %}
{{ text | capitalize | replace("_", " ") }}
{%- endmacro %}
<div class="field-div{% if field.errors %} has-error{% endif %}" data-priority-level="{{ priority }}" 
id="{{ field.id }}-div" 
style="display:{{ 'none' if priority > 1 else 'block' }}">
  {% if field.type == "BooleanField" %}
    <label class="bool-label" for="{{ field.id }}">
      <span class="bool-label-span">
        {{ format_label(field.id) }}
        {{ changed_tooltip(field.id)}}
      </span>
      <div class="input-div">
        <input {% if field.data and field.data != 'False' %}checked=""{% endif %} 
          class="er_setting" id="{{ field.id }}" name="{{ field.id }}"
          type="checkbox" value="y">
        <span class="checkmark"></span>
      </div>
    </label>
  {% else %}
    <label class="other-label" for="{{ field.id }}">
      {{ format_label(field.id) }}
      {{ changed_tooltip(field.id) }}
    </label>
    <div class="input-div">
      {{ field(class_="er_setting") }}
      {% if attr_dict[field.id]["typing_string"] %}
        <div class="typing-string" id="{{ field.id }}-typing-string">
          {{ attr_dict[field.id]["typing_string"] | markdown }}
        </div>
      {% endif %}
      {% if attr_dict[field.id]["expected_constants"] %}
        <div class="constants-div" id="{{ field.id }}-constants-div">
          {% for group, constants in attr_dict[field.id]["expected_constants"].items() %}
            {% set group_id = group | lower | replace(" ", "-") %}
            <div id="{{ group_id }}-{{ field.id}}-constant-group" class="constant-group">
              <div id="{{ group_id }}-{{ field.id}}-constant-group-label" class="constant-group-label">
                {{ group }}
              </div>
              {% for constant in constants %}
                <div class="constant-button-div">
                  <button class="constant-button" type="button"
                      id="{{ field.id}}-{{ constant.name }}-constant-button"
                      onClick="addConstant('{{ constant.name }}', '{{ field.id }}')">
                    {{ constant.name }}
                  </button>
                  {{ tooltip( field.id + "-" + constant.name, "constant", constant.value ) }}
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
  {# TODO make button #}
  <div class="help-button" id="{{ field.id }}-help-button" 
    onClick="toggleHelp('{{ field.id }}')">
    ?
    {{ tooltip( field.id, "help", "Click to show help" ) }}
  </div>
  {% if field.errors %}
  <ul class="error-list">
    {% for error in field.errors %}
    <li class="error-item">ERROR: {{ error }}</li>
    {% endfor %}
  </ul>

  {% endif %}
  <div class="help-container">
    <div class="field-help-div" id="{{ field.id }}-help-div" 
        style="display:none;">
      {{ attr_dict[field.id]["doc"] | markdown }}
    </div>
  </div>
</div>
