{% macro output_error(id, header, content="", mail_link="", mail_link_text="") %}
<div id="{{ id }}" class="output-error-div">
  <p id="{{ id }}-text" class="output-error-text">
    {{ header }}
  </p>
  {% if mail_link %}
  <p id="traceback-mail-p" >
    <a id="traceback-mail" href="{{ mail_link }}">
      {{ mail_link_text }}
    </a>
  </p>
  {% endif %}
  {% if content %}
    {{ content }}
  {% endif %}
{%- endmacro %}

{% macro code_error(script_error) %}
  <div class="code-error">
    <p>{{ script_error|replace("\n", "</p><p>") }}</p>
  </div>
{%- endmacro %}

{% if script_error %}
  {% if error_type == "settings" %}
    {% set header = "The following settings prevented the midi from compiling." %}
    {% set item = None %}
    {% set content %}
      <div id="settings-errors-div">
        {% for item in script_error %}
          <li>
            {{ item }}
          </li>
        {% endfor %}
      </div>
    {% endset %}
    {{ output_error("settings-error", header, content) }}
  {% elif error_type == "make" %}
    {% set header = "The settings failed to build." %}
    {% set content %}
      <div id="make-error-div">
        <p id="make-error-div-p">In case it is helpful, here is the error the script returned:</p>
        {{ code_error(script_error) }}
      </div>
    {% endset %}
    {{ output_error("make-error", header, content) }}
  {% elif error_type == "timeout" %}
    {% set header = "Sorry, the script timed out! This might be because the settings you chose are difficult to satisfy, or it might be because of a bug in my code."%}
    {# The reason the link ends with "body=" is because in the JS I append the 
      query string to the link to reproduce the results #}
    {% set mail_link = "mailto:malcolm.sailor@gmail.com?subject=er_web%20bug&body=" %}
    {% set mail_link_text = "Please click here to email me these settings so I can investigate." %}
    {{ output_error("timeout-error", header, mail_link=mail_link, mail_link_text=mail_link_text)}}
  {% else %}
    {% set header = "I screwed up: the midi didn't compile because there was a bug in the code." %}
    {% set content %}
      <div id="traceback">
        {{ code_error(script_error) }}
        {# <p class="code-error">
          {{ script_error|replace("\n", "</p><p>") }}
        </p> #}
      </div>
    {% endset %}
    {% set mail_link = "mailto:malcolm.sailor@gmail.com?subject=er_web%20bug&body=" %}
    {% set mail_link_text = "Please click here to email me the below traceback so I can do better in the future."%}
    {% set encoded_script_error = script_error | urlencode %}
    {{ output_error("py-error", header, content, mail_link + encoded_script_error, mail_link_text) }}
  {% endif %}
{% endif %}

