<div class="output-div">
  <h2 class="output-label">Output
  </h2>
  {% if script_error or timeout or settings_error %}
    {% include "output-error.jinja" %}
  {% elif form.errors %}
    <div id="form-error">
      <p id="form-error-text">
        There was a problem validating the form. Please see the errors below.
      </p>
    </div>
  {% elif audio_path %}
    {% include "audio.jinja" %}
  {% endif %}
  {% if seed %}
    <div id="seed-display-div">
      <p id="seed-display">Random number generator seed: {{ seed }}</p>
      <p id="seed-display-help">
        Include this number in the 
          <code><a href="#seed-div">seed</a></code> 
        field below if you would like to reproduce this output exactly.
      </p>
    </div>
  {% endif %}
</div>
