{% set welcome_text %}
Welcome to an early version of the web interface for [my](https://malcolmsailor.com) music generation script, 
[efficient rhythms](https://github.com/malcolmsailor/efficient_rhythms).

If this is your first time here, I suggest clicking 'submit' and seeing what 
happens. Then try changing a few of the settings and submit again.

The gist of how the script works goes as follows:

- first it makes an initial **rhythmic** pattern.
- then it fills the rhythm with pitches.
- finally, it repeats the pattern, adjusting it **efficiently** to fit any chord 
changes (hence the name “efficient rhythms”).

Issues/comments/suggestions very welcome at 
[malcolm.sailor@gmail.com](mailto:malcolm.sailor@gmail.com")

{% endset %}
<div id="welcome-div">
  {{ welcome_text|markdown }}
</div>
    
