<p>Welcome to an early version of the web interface for <a
    href="https://malcolmsailor.com">my</a> music generation script,
  <a href="https://github.com/malcolmsailor/efficient_rhythms">efficient
    rhythms</a>.
</p>

<p>If this is your first time here, I suggest clicking 'submit' and seeing what
  happens. Then try changing a few of the settings and submit again.</p>

<p>The gist of how the script works goes as follows:</p>

<ul>
  <li>first it makes an initial <strong>rhythmic</strong> pattern.</li>
  <li>then it fills the rhythm with pitches.</li>
  <li>finally, it repeats the pattern, adjusting it
    <strong>efficiently</strong> to fit any chord changes (hence the name
    “efficient rhythms”).</li>
</ul>

<p>Issues/comments/suggestions very welcome at <a
    href="mailto:malcolm.sailor@gmail.com">malcolm.sailor@gmail.com</a>.</p>
